<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Siwes Reg. portal</title>
    <link rel="shortcut icon" href="/images/favIcon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>
<body>
    <div class="container-fluid">
         <div>
                <header>
                    <div class="logo">
                        <img src="/images/yct logo.jpg" alt="yctLogo" class="img-fluid">
                    </div>
                    <nav>
                        <ul>
                            <li class="top-li">
                                <a href="/">Home</a>
                                <span class="bot-line"></span>
                            </li>
                            <li class="top-li">
                                <a href="/register">Create Register</a>
                                <span class="bot-line"></span>
                            </li>
                            <li class="top-li">
                                <a href="/browse">Browse Register</a>
                                <span class="bot-line"></span>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div class="clr"></div>
         {{{body}}}
    </div>
    <script src="/javascripts/jquery.js"></script>
   <script src="/javascripts/scripts.js"></script>
</body>
</html>