<div class="container">
    <h1>Register student credentials</h1>
    <p><small>Ensure the form is correctly filled</small></p>
         {{#if success}}
            <p class="alert alert-success">{{success}}</p>
        {{else}}
            {{#if errors}}  
                <ul class="list-group">
                    {{#each errors}}
                    <li class="alert alert-danger">{{this.msg}}</li>
                    {{/each}}
                </ul>  
            {{/if}}
        {{/if}}
    
    <form action="/register", method="POST">
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="school">School: </label>
            <input type="text" name="school" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="matric">Matric Number: </label>
            <input type="text" name="matric" class="form-control">
        </div>
        <div class="form-group">
            <label for="department">Department: </label>
            <input type="text" name="department" class="form-control">
        </div>
        <div class="form-group">
            <label for="supervisor">Supervisor: </label>
            <input type="text" name="supervisor" class="form-control">
        </div>
        <div class="form-group">
            <label for="startDate">Start Date: </label>
            <input type="date" name="startDate" class="form-control">
        </div>
        <div class="form-group">
            <label for="endDate">End Date: </label>
            <input type="date" name="endDate" class="form-control">
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
<div class="mt"></div>
